$hamburger-backgroud-color: #fff !default;
$hamburger-height:25px;
$hamburger-width:30px;
$hamburger-slice-height:3px;

.hamburger-nav {
    width: $hamburger-width;
    height: $hamburger-height;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin:10px;
}

.hamburger-nav span {
    display: block;
    position: absolute;
    height: $hamburger-slice-height;
    width: 100%;
    background: $hamburger-backgroud-color;    
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#header.scroll .hamburger-nav span{
    background: black;
}
.hamburger-nav span:nth-child(1),
.hamburger-nav span:nth-child(2),
.hamburger-nav span:nth-child(3) {
    transform-origin: left center;
}
.hamburger-nav span:nth-child(1) {
    top: 0px;
}
.hamburger-nav span:nth-child(2) {
    top: 8px;
}
.hamburger-nav span:nth-child(3) {
    top: 16px;
}

.hamburger-active .hamburger-nav span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.hamburger-active .hamburger-nav span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburger-active .hamburger-nav span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19px;
    left: 8px;
}
