@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700i|Roboto:400,400i,700');

$primary: rgb(19,88,168);//#4F00FF;
$secondary: white;// #EDFFFF;
$tertiary:rgb(21,123,192);//#001ab0;
$font-family-san-serif:'Roboto',san-serif;
@import "node_modules/bootstrap/scss/bootstrap";

@import "layout.scss";
@import "_hamburger.scss";