$header-height:100px;
$header-mobile-height:80px;
$header-font-color:#fff;
$primary-font-family:'Roboto',san-serif;
$secondary-font-family:'Roboto Condensed',san-serif;
$button-font-size:24pt;
$cyan:#2CABE6;

#wrapper{
    width:100%;
    overflow:hidden;
}
#footer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
// =========== Header ================
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    height: $header-height;
    @include media-breakpoint-down(sm) {
        height:$header-mobile-height;
    }
    display: flex;    
    align-items: center;
    transition:all .3s ease;
    background-color:transparent;        
    color:$header-font-color;
    font-family:$secondary-font-family;
    &.scroll{
        background-color:$secondary;
        box-shadow:0px 0px 5px 2px #666;
        & *{
            color:$tertiary!important;
        }
        .nav-item.active .nav-link,
        .nav-item:hover .nav-link{
            background-color:$tertiary!important;
            color:$secondary!important;
        }
    }
    .header-logo{
        height:$header-height;
        width:100px;
        @include media-breakpoint-down(sm) {
            width:50px;
        }
        display:flex;
        align-items:center;
        justify-content: center;
        
        a {
            display:block;
        }
    }

    .header-nav{
        margin-left:auto;
        position:static;
        @include media-breakpoint-down(md) {
            align-self:center;
        }
        .nav-link{
            color:#fff;
            padding:.5rem 2rem;
            @include media-breakpoint-down(md) {
                color:$primary;
            }
        }
        .nav-item{
            transition:all .3s ease;
            @include media-breakpoint-down(md) {
                background-color:white;
            }
        }
        .nav-item.active .nav-link,
        .nav-item:hover .nav-link{
            background-color:$secondary;
            color:$tertiary;
            border-radius: 50px;
            @include media-breakpoint-down(md) {
                background-color:$primary;
                color:$secondary;
                border-radius:0px;
            }
        }
        .navbar-toggler{
            outline:none;
            margin-left: auto;
        }
        .navbar-collapse{
            @include media-breakpoint-down(md) {
                position: absolute;
                left: 0;
                top: $header-mobile-height;
                width: 100%;
            }
        }
    }
}

// ============ Banner ================
.banner{
    width:100%;
}
.banner-main{
    overflow:hidden;
    .banner-item{
        width:100%;
        height:250px;
        height:40vh;
        position:relative;
        
        @include media-breakpoint-down(sm) {
            height:400px;
            height:100vh;            
        }
        @include media-breakpoint-up(md) {
            height:400px;
            height:70vh;
        }
        @include media-breakpoint-up(lg) {
            height:400px;
            height:100vh;
        }
        .banner-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position:absolute;
            left:0;right:0;top:0;bottom:0;
        }
        .banner-content{
            padding-top:$header-height;
            height:100%;
            z-index:1;
            color: white;
            white-space: nowrap;
            font-size:1.2rem;
            @include media-breakpoint-down(sm) {
                font-size:1rem;
            }
            h1{
                font-size:3rem;
                @include media-breakpoint-down(sm) {
                    font-size:2rem;
                }
            }
        }
    }
}

// ================ Block =============
#block_products{
    font-family:$secondary-font-family;
    li{
        margin:30px 0px;
    }
    .card-group {        
        h1{
            font-weight: bold;
        }
        .card{
            box-shadow:-5px -10px 5px 5px rgba(0,0,0,.15);   
            li{
                list-style: none;
                display: flex;
                align-items:center;                
                .icon{
                    color:$cyan;                    
                }
            }
            .product-amount{
                font-size:3rem;
                font-weight: bold;
            }

            &:nth-child(even){
                .card-title h1,.product-price{
                    color:$cyan;
                }
                .btn{
                    background-color:$cyan;
                    color:#fff;
                }
            }
            &:nth-child(odd){
                background-color:$cyan;
                .card-title h1,.card-body{
                    color:#fff;
                }
                .btn{
                    background-color:#fff;
                    color:$cyan;
                }
            }
        }
    }
}

#block_product2{
    color:white;
    background-color:black;
    .dots-container{
        
        .slick-dots{
            position:inherit;
            display:flex;
            justify-content: space-between;
            align-items:flex-start;            
                       
            a{
                cursor: pointer;
                position:relative;                 
            }   
            li:not(:last-child) span::before {
                position: absolute;
                top: calc(50% - 1px);
                right: 0;
                left:95%;
                Content: "";
                Background-color: white;
                height: 4px;                
                width:10vw;
            }                 
            .fa-circle{            
                color:white;
                transition: all 1s;                
            }    
            .icon{
                color:$primary;
            }
            .slick-active{
                .fa-circle{            
                    color:$primary;
                }    
                .icon{
                    color:white;
                }    
            }                
        }    
    }

}

#block_aboutus{
    width: 100%;
    overflow: hidden;
    color:#fff;
    background:linear-gradient(90deg, #3E65A6 0%, #151747 100%);/*url('../img/aboutus-background.jpg');*/
    
    a{
        font-family: $secondary-font-family;
    }
    .block-aboutus-content {
        background-color:black;
        & p{
            font-family: $secondary-font-family;
            font-size:1.2rem;
        }
    }
    .aboutus-content-4{
        background: url('../img/aboutus-content-4.jpg') center;
    }
}
#block_customer{
    background-color:$secondary;
}
#block_contactus{
    color:#fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/contactus-background.jpg') center;
    .social-icon {
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
        margin: 5px 5px;
        background-color: #b7b7b7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor:pointer;
        transition:all .3s ease;

        &:hover{
            background-color:$primary;
        }
    }
    
    .contactus-content > div{
        display:flex;
        align-content:start;
        margin-bottom:1rem;
    }
    .contactus-form {
        font-family:$secondary-font-family;

        & button{
            font-family:$primary-font-family;
        }
    }
}
/* =========== Slick Overwrite ====================== */
.slick-dots{
    position: absolute;
    bottom: 5px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items:center;
    justify-content:center;
}
.slick-dots {
    li{
        button{
            font-size: 0;
            line-height: 0;
            display: block;
            width: 5px;
            height: 5px;
            padding:0;
            margin:2px 2px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: #fff;
            border-radius:50%;
        }

        &.slick-active button{
            background:$primary;
        }
    }
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index:1;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
}
.slick-next:before{ 
    content: ">";
}
.slick-prev:before{
    content: '<';
}
.slick-next{right:25px;}
.slick-prev{left:25px;}

.overlay{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;

    .loading-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        &:after{
            content: " ";
            display: block;
            width: 50px;
            height: 50px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: loading-animate 1.2s linear infinite;
        }
    }
    &.overlay-active{
        display: block;
    }
}
@keyframes loading-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}